* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Font */
@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* header----------------------------------------- */
/* header {
    background-color: rgb(132, 160, 253);
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

nav {
    width: 30%;

}

header ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin-right: 15px;
} 
    nav li {
    list-style: none;
}*/

header img {
    width: 120px;
    margin: 10px;
}

.fondo-nav {
    background-color: rgb(111, 137, 223);
}

.fondo-nav a {
    color: #ffffff;
}

.fondo-nav a:hover {
    color: cornflowerblue;
}

.hipe {
    color: white;
    text-decoration: none;

}


.logo {
    width: 18.75rem;
    margin: 5px;
}

.logo1 {
    width: 18.75rem;
    margin: 5px;
    border-radius: 15px;
}

/* main------------------------------------- */
body {
    font-family: "Montserrat", sans-serif;
    color: white;
    background-color: rgb(116, 116, 116);
}

.presentacion {
    margin: 20px;
    text-align: center;
    text-decoration: none;
}

.presentacion1 {
    margin: 15px;
}

.presentacion h2 {
    margin-top: 20px;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
}


.maps {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.bold {
    font-weight: bold;
}

.form {
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.banner {
    background-image: url(../medios/banner-serv.jpg);
    height: 250px;
    background-size: cover;
    background-position: center;
}
.texban {
    padding-top: 20px ;
}
p {
    font-size: 1rem;
}

.center {
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.txtacade {
    text-align: center;
    padding: 15px;
    font-family: "Montserrat", sans-serif;
}
/* Promociones ---------------------------- */
ul li {
    list-style: none;
}
.promocion {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

/* Informativo ----------------------*/
.back-negro {
    text-align: center;
    background-color: black;
    border-radius: 15px;
    margin: 20px;
    padding: 20px;
}

/* Grid servicios ------------------------------*/
.grillasrv img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.grillasrv {
    margin-bottom: 10px;
    display: grid;
    grid-template-areas: 
    "foto1 texto1 foto1-2"
    "texto2 foto2-1 texto4"
    "foto3 texto3 foto5";
    grid-template-columns: 25% 35% 25% ;
    grid-template-rows: 275px 275px 275px ;
    row-gap: 10px;
    justify-content: center;
    justify-items: center;
    align-items: center;

}
.textel {
    grid-area: texto1;
    margin: 20px;
}
.texcon {
    grid-area: texto2;
    margin: 20px;
}
.texcon2 {
    grid-area: texto4;
    margin: 20px;
    text-align: center;
}
.texdron {
    grid-area: texto3;
    margin: 20px;
}
.tel {
    grid-area: foto1;
}
.tel2 {
    grid-area: foto1-2;
}
.con2 {
    grid-area: foto2-1;
}
.dron {
    grid-area: foto3;
}
.dron2 {
    grid-area: foto5;
}

/* footer--------------------------------------------- */
footer {
    background-color: rgb(132, 160, 253);
    text-align: center;
    display: flex;
    justify-content: space-around
}

footer section {
    margin-top: 10px;
}

.logowp {
    position: fixed;
    right: 40px;
    bottom: 40px;
}

/* Responsive ---------------- */

/* Mobile*/
@media (max-width: 480px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo {
        width: 14rem;
    }

    nav {
        width: 90%;
    }

    header ul {
        width: 90%;
        justify-content: space-evenly;
    }
    main {
        text-align: center;
    }

    .promocion {
        flex-direction: column;
    }

    .grillasrv {
        grid-template-areas: 
        "texto1"
        "foto1-2"
        "texto2"
        "foto2-1"
        "texto3"
        "foto5";
        grid-template-columns: 1fr;
        grid-template-rows: 150px 250px 150px 250px 150px 250px;
        margin: 0px 10px;
    }
    .tel {
        display: none;
    }
    .dron {
        display: none;
    }
    .texcon2{
        display: none;
    }

    .logowp {
    right: 10px;
    bottom: 10px;
    }
}

/* Tablet */
/*@media (min-width: 481px) (max-width: 780px) {

} 
