@use "./variable" as*;

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: $font;
    color: $blanco;
    background-color: $gris;
}

p {
    font-size: 1rem;
}

ul li {
    list-style: none;
}

.presentacion {
    margin: 20px;
    text-align: center;
    text-decoration: none;

    .presentacion1 {
        margin: 15px;

        .bold {
            font-weight: bold;
        }
    }
}

.presentacion1 {
    margin: 15px;
}


/* Promociones ---------------------------- */
.promocion {
    display: flex;
    justify-content: space-evenly;
    text-align: center;

    .logo1 {
        width: 18.75rem;
        margin: 5px;
        border-radius: 15px;
    }

    .promoscale {
        transition: 0.5s;
        &:hover {
            transform: scale(1.1);
        }
    }
}

h1 {
    font-size: 2.5rem;
    text-align: center;
}

.center {
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.txtacade {
    text-align: center;
    padding: 15px;
    font-family: $font;
}

.maps {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.bold {
    font-weight: bold;
}

.form {
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.presentacion {
    margin: 20px;
    text-align: center;
    text-decoration: none;

    .center {
        padding-top: 20px;
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 20px;
    }
}

/* Banner------------- */
.banner {
    background-image: url(../medios/banner-serv.jpg);
    height: 250px;
    background-size: cover;
    background-position: center;

    .texban {
        padding-top: 20px;
    }
}

/* Informativo ----------------------*/
.back-negro {
    text-align: center;
    background-color: $negro;
    border-radius: 15px;
    margin: 20px;
    padding: 20px;
}

.hipe {
    color: $blanco;
    text-decoration: none;

}

/* Grid servicios ------------------------------*/
.grillasrv {
    margin-bottom: 10px;
    display: grid;
    grid-template-areas:
        "foto1 texto1 foto1-2"
        "texto2 foto2-1 texto4"
        "foto3 texto3 foto5";
    grid-template-columns: 25% 35% 25%;
    grid-template-rows: 275px 275px 275px;
    row-gap: 10px;
    justify-content: center;
    justify-items: center;
    align-items: center;

    img {
        width: 100%;
        height: 100%;
        border-radius: 15px;
    }

    .textel {
        grid-area: texto1;
        margin: 20px;
    }

    .texcon {
        grid-area: texto2;
        margin: 20px;
    }

    .texcon2 {
        grid-area: texto4;
        margin: 20px;
        text-align: center;
    }

    .texdron {
        grid-area: texto3;
        margin: 20px;
    }

    .tel {
        grid-area: foto1;
    }

    .tel2 {
        grid-area: foto1-2;
    }

    .con2 {
        grid-area: foto2-1;
    }

    .dron {
        grid-area: foto3;
    }

    .dron2 {
        grid-area: foto5;
    }
}

.calidadpadre {
    text-align: center;
    margin: 10px;
    .calidad{
        width: 18.75rem;
        animation-name: calidad;
        animation-duration: 3.5s;
        animation-iteration-count: infinite;
        animation-delay: 1s;
    }
}
@keyframes calidad {
    0%{
        transform: rotate(0deg);

    }
    25%{
        transform: rotate(90deg);

    }
    50%{
        transform: rotate(180deg);

    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
